/**
*Meu style do Palmeiras
*@ Author Alex Yudy
*Data 26/09/2018
*/

@import url('https://fonts.googleapis.com/css?family=Dosis');

*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;

}

body{

	margin:0;
	font-family: sans-serif;
}

#banner{
	width: 100%;
}

.navbar{
	overflow: hidden;
	background-color: #000000;
	font-family: arial;
	margin-top: -5px;
}
.navbar a{
	float: left;
	font-size: 12pt;
	color: #fff;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
}

h3{
	color: #17633a;


}

.Mobile{
	display: none;
}

.Fixar{
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	transition: ease 1s;
	z-index: 10000;

}



/***************************************************************************************************************/


/***********formulário de contato*************/


#contato{
	padding-top: 130px;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 120px;
	

}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #17633a;
	box-shadow: 5px 5px #999999;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 40px 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #17633a;
	box-shadow: 5px 5px #999999;
	resize: none;

}

#contato input[type=submit]{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid#17633a;
	padding: 10px 25px 10px 25px;
}


/**********************************rodapé******************************************************/

footer{
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	color: #ffffff;
	font-size: 0.75em;	
}

footer img{
	float: right;
	position: relative;
	bottom: 45px;
	right: 55px;
	padding: 4px;
	cursor: pointer;

}

h3{
	position: relative;
	float: left;
	bottom: 55px;
	left: 35pt;
	font-size:25pt;
	font-family: 'Dosis', sans-serif;
	color: #ffffff;
	padding: 5px;

}

p{
	font-size: 13pt;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	line-height: 28px;
	color: #ffffff;
}


/************* Smartphone ***************/

@media screen and (max-width: 480px){
	
	/******** principal ********/

	body{
		margin: 0px;

	}

	#layout{
	width: 100%;
}

	#main{
		margin: 0px;

	}

	/********** cabeçalho *********/
	header{
		margin-bottom: 0px;
		text-align: center; /*centraliza tudo*/
	}

	header img{
		margin-top: 0px;
		margin-left: 0px;
	}
	
	/********** menu **********/
	.Mobile{
		display: block;
		background-color: #000000;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;

	}

	nav a{
		display: none;
	}


	nav ul{
		width: 100%;
		display: none;
	}
	

	nav div a{
		float: none;
		width: 100%;
		text-align: left;
		transition: all 0s;
		background-color: #000000;
		padding-left: 40px;

		}

				/**************rodapé***********/

	footer{
	width: 100%;
	background-color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 0.75em;	
}

footer img{
	float: right;
	position: relative;
	bottom: 45px;
	right: 5px;
	padding: 3px;
	cursor: pointer;
	width: 30px;
	height: 30px;

}

h3{
	position: relative;
	float: left;
	bottom: 50px;
	left: 20pt;
	font-size:15pt;
	font-family: 'Dosis', sans-serif;
	color: #ffffff;
	padding: 5px;

}

p{
	font-size: 9pt;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	line-height: 28px;
	color: #ffffff;
}

	

	


	
}



